k8s
docker-compose.yml
service-account-new.json
client
.example*
config.json
Dockerfile*
tests
requirements-dev.txt
.venv
__pycache__
scripts
.vscode
redisinsight
notebooks
docker-compose.override.yml
docker-compose.redis.yml
docker-compose*
chroma_logs.log
.chroma
db
.pytest_cache
langchain.readthedocs.io
.gitlab-ci.yml